# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# Environment / secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/

# Build files
dist/
build/

# Logs
*.log
